@use 'variables' as *;
@use 'mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: $bg-color-main;
}

header {
  height: $header-height;
}

section {
  height: calc(100vh - $header-height); // - $footer-height);
  overflow: hidden;
  position: relative;
  .img-decor-right {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
  }
  .img-decor-bottom {
    position: absolute;
    right: 72px;
    bottom: 0;
    z-index: -1;
  }
  .img-decor-left {
    position: absolute;
    left: 56px;
    bottom: 458px;
    z-index: -1;
  }
}

footer {
  height: $footer-height;
}

.courses-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  max-width: 1250px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .courses-info__headers {
    margin-top: -6px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    color: $text-color-main;
    text-align: center;
    .courses-info__h1 {
      font-weight: 900;
      font-size: 46px;
      line-height: 130%;
    }
    .courses-info__h6 {
      font-size: 16px;
      line-height: 150%;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  .courses-info__filters {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    .courses-info__categories {
      display: flex;
      flex-wrap: wrap;
      column-gap: 12px;
      color: $text-color-not-active;
      .courses-info__category {
        font-size: 16px;
        font-weight: 700;
        line-height: 160%;
        padding: 10px 20px;
        display: flex;
        column-gap: 4px;
        text-wrap: nowrap;
        cursor: pointer;
        .courses-info__category-sup {
          font-weight: 900;
          font-size: 10px;
          line-height: 150%;
          vertical-align: top;
        }
      }
      .courses-info__category--active {
        color: $text-color-active;
        border-radius: $border-raduis-main;
        border: 1px solid $text-color-active;
      }
    }
    .courses-info__search {
      position: relative;
      width: 100%;
      max-width: 315px;
      min-width: 315px;
      .courses-info__search-input {
        width: 100%;
        height: 44px;
        border: 1px solid $border-not-active;
        padding: 11px 16px 12px;
        background-color: $bg-color-main;
        border-radius: $border-raduis-main;
        font-size: 14px;
        line-height: 150%;
        color: $text-color-secondary-accent;
        &::placeholder {
          color: $text-color-not-active;
          height: 100%;
          font-family: 'Lato', sans-serif;
        }
        &:focus-visible {
          border-color: $color-focus;
          outline: $color-focus;
        }
      }
      .courses-info__search-icon {
        position: absolute;
        right: 16px;
        top: 14px;
      }
    }
  }
  .courses-info__cards-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 390px));
    place-content: center;
    width: 100%;
  }
  .courses-info__load-more {
    cursor: pointer;
    font-size: 16px;
    line-height: 160%;
    font-weight: 700;
    color: $text-color-secondary-accent;
    display: flex;
    column-gap: 16px;
  }
  .courses-info__load-more--hidden {
    display: none;
  }
}

.card {
  @include card-shadow;
  display: flex;
  flex-direction: column-reverse;
  border-radius: $border-raduis-main;
  max-width: 390px;
  min-width: 300px;
  min-height: 438px;
  background-color: $bg-color-main;
  border: 1px solid $border-cards;
  position: relative;
  overflow: visible;
  .card__image {
    position: absolute;
    z-index: 10;
    max-width: 390px;
    width: calc(100% + 2px);
    height: 240px;
    top: -1px;
    left: -1px;
    border-top-left-radius: $border-raduis-main;
    border-top-right-radius: $border-raduis-main;
    background-color: #ffcf2d;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .card_info {
    height: 198px;
    border-top: none;
    padding: 24px;
    align-items: start;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .card_tag {
      color: white;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      padding: 1px 8px;
      border-radius: $border-raduis-main;
      width: auto;
    }
    .card_tag--marketing {
      background-color: $color-success;
    }
    .card_tag--management {
      background-color: $color-info;
    }
    .card_tag--hr {
      background-color: $color-warning;
    }
    .card_tag--design {
      background-color: $color-danger2;
    }
    .card_tag--development {
      background-color: $color-info2;
    }
    .card_description {
      color: $text-color-main;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
    }
    .card_add-info {
      display: flex;
      column-gap: 8px;
      align-items: center;
      font-size: 18px;
      line-height: 150%;
      .card__price {
        color: $color-danger;
        font-weight: 700;
      }
      .card__name-info {
        color: $text-color-secondary;
        font-weight: 400;
      }
    }
  }
}

.vertical-divider {
  width: 1px;
  height: calc(100% - 11px);
  border-left: 1px solid $text-color-secondary;
}
