/* sizes */
$header-height: 50px;
$footer-height: 86px;

/* colors */
$text-color-main: #1e212c;
$text-color-secondary: #787a80;
$text-color-not-active: #9a9ca5;
$text-color-secondary-accent: #424551;
$text-color-active: #ff3f3a;
$border-not-active: #d7dadd;
$border-cards: #e5e8ed;
$bg-color-main: white;
$color-success: #03cea4;
$color-info: #5a87fc;
$color-info2: #7772f1;
$color-warning: #f89828;
$color-danger: #ff4242;
$color-danger2: #f52f6e;
$color-focus: rgba(255, 63, 58, 0.4);

/* others */
$border-raduis-main: 4px;
